body { 
    font-family: 'Inter', sans-serif; 
    background-color: #09090b;
}

.card-neon-wrapper {
    --neon-rgb: 0, 0, 0; 
    
    transition: all 0.5s ease-out;
    box-shadow: 0 0 0px rgba(0,0,0,0);
}

.card-neon-wrapper:hover {
    box-shadow: 0 0 35px -5px rgba(var(--neon-rgb), 0.8), 
                0 0 15px -3px rgba(var(--neon-rgb), 0.5);
                
    transform: translateY(-0.75rem); 
    z-index: 10;
}